{
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	},
	"plugins": [
		"@babel/proposal-class-properties",
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	],
	"presets": [
		[
			"@babel/preset-react",
			{
				"pragma": "DOM.element",
				"pragmaFrag": "DOM.fragment"
			}
		],
		"@babel/typescript",
		"@babel/preset-env"
	]
}
