/build/*
!/build/.gitignoregit 
/node_modules
*.zip
*.xpi
README.txt
.gitignore
package-lock.json
changelog.txt
changelog_html.txt
changelog_markdown.txt
changelog_steam.txt
chrome_refresh_token.txt
github_token.txt